[Unit]
Description=Scheduled restic-in-peace daily backup for profile %I

[Timer]
Unit=rip@%i.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
