[Unit]
Description=Runs restic-in-peace with profile %I
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/restic-in-peace --config %h/.config/restic-in-peace/rip.yaml --name %i backup
Restart=on-failure
RestartSec=30m
